extends html

block layout
  body.flex-vertical
    header.full-width.flex-horizontal
      ul.nav-center.flex-vertical
        li#nav-center-element-company.active
          a.flex-horizontal(href='/') Phozly
        li#nav-center-element-logo
          a(href='/')
            img(src='/images/logo.svg')
        li#nav-center-element-grid
      
      ul.nav-left.flex-horizontal
        li
          a.active(href='/') Featured
        li
          a(href='/new') New
        li
          a(href='/collections') Collections
          
      ul.nav-right.flex-horizontal
        li.search
          form(action='/search' method='get')
            input(type='text' placeholder='Search photos')
            button(type='submit')
              svg(width='32' height='32' viewbox='0 0 32 32')
                path(d='M31.414 28.586l-6.224-6.184c-0.004-0.004-0.008-0.004-0.012-0.008 1.764-2.344 2.822-5.244 2.822-8.394 0-7.718-6.282-14-14-14s-14 6.282-14 14 6.282 14 14 14c3.15 0 6.050-1.058 8.392-2.82 0.004 0.004 0.004 0.008 0.008 0.012l6.186 6.222c0.39 0.39 0.902 0.586 1.414 0.586s1.024-0.196 1.414-0.586c0.782-0.782 0.782-2.046 0-2.828zM14 24c-5.514 0-10-4.486-10-10s4.486-10 10-10 10 4.486 10 10-4.486 10-10 10z')
        if signedAccount
          li.profile
            .circle-cropper
              a(href='/@#{signedAccount.username}')
                img(src='/images/avatar.jpg')
        else
          li.login
            a(href='/login') Login
          li.join
            a.join(href='/accounts/new') Join
            
    main.flex-vertical
      header.flex-vertical
        p Free (do whatever you want) high-resolution photos.
        p For 10 new photos every 10 days, subscribe.
        ul.sns.flex-horizontal
          li
            a(href='http://phozly.twitter.com')
              svg(width='32' height='32' viewBox="0 0 745 1024")
                path(d='M744.727 180q-30.545 46.182-76 79.273v20q0 50.909-12.909 102.364t-37.091 100-62 90.727-84.727 73.636-108.182 49.636-129.273 18.182q-137.818 0-234.545-62.182 16.727 2.545 36.364 2.545 50.909 0 99.636-19.636t89.818-52.727q-49.091-0.364-88.545-30.364t-53.636-75.818q15.273 2.909 28.364 2.909 21.091 0 40.727-5.455-52.727-10.545-87.636-52.545t-34.909-97.273v-1.818q32.727 17.818 69.091 18.909-31.636-21.091-50-54.545t-18.364-72q0-37.455 20.727-74.182 57.455 69.818 138.909 110.727t175.636 46q-3.273-14.182-3.273-35.273 0-63.273 44.545-107.818t107.818-44.545q65.091 0 112.364 48 52-10.545 96.364-37.091-17.455 55.273-67.273 84.727 45.455-5.091 88-24.364z')
          li
            a(href='http://phozly.facebook.com')
              svg(width='32' height='32' viewBox="0 0 745 1024")
                path(d='M744.727 93.091v651.636q0 18.909-13.818 32.727t-32.727 13.818h-186.182v-289.455h93.091l15.636-107.273h-108.727v-84.364q0-23.273 11.818-35.636t34.727-12.364h69.818v-96.727q-31.273-5.091-76.364-5.091-74.909 0-114.364 38t-39.455 103.455v92.727h-93.091v107.273h93.091v289.455h-351.636q-18.909 0-32.727-13.818t-13.818-32.727v-651.636q0-18.909 13.818-32.727t32.727-13.818h651.636q18.909 0 32.727 13.818t13.818 32.727z')
          li
            a(href='http://phozly.pinterest.com')
              svg(width='32' height='32' viewBox="0 0 23 32")
                path(d='M12.17 1.455q1.864 0 3.472 0.636t2.688 1.699 1.693 2.449 0.614 2.864q0 2.602-0.898 4.688t-2.545 3.278-3.75 1.193q-1.068 0-1.994-0.477t-1.29-1.159q-0.761 3.068-0.943 3.659-0.25 0.943-0.858 2.034t-0.972 1.591-0.568 0.739q-0.091 0.102-0.199 0.074t-0.131-0.131q0-0.011-0.040-0.318t-0.074-0.642-0.057-0.875-0.017-1.040 0.063-1.102 0.182-1.114l1.693-7.273q-0.398-0.864-0.398-2.125 0-1.489 0.739-2.472t1.818-0.983q0.875 0 1.341 0.563t0.466 1.438q0 0.534-0.199 1.307t-0.523 1.801-0.472 1.631q-0.239 1.057 0.415 1.824t1.722 0.767q1.239 0 2.21-0.977t1.494-2.591 0.523-3.545q0-2.273-1.466-3.699t-4.080-1.426q-1.477 0-2.739 0.523t-2.097 1.409-1.301 2.040-0.466 2.415q0 1.568 0.886 2.648 0.182 0.227 0.216 0.352t-0.023 0.375q-0.034 0.182-0.273 1.068-0.057 0.261-0.239 0.352t-0.432 0q-1.341-0.568-2.034-1.943t-0.693-3.17q0-1.159 0.375-2.324t1.159-2.256 1.886-1.926 2.688-1.341 3.426-0.506z')
          li
            a(href='http://phozly.instagram.com')
              svg(width='32' height='32' viewBox="0 0 745 1024")
                path(d='M636 46.545q45.091 0 76.909 31.818t31.818 76.909v527.273q0 45.091-31.818 76.909t-76.909 31.818h-527.273q-45.091 0-76.909-31.818t-31.818-76.909v-527.273q0-45.091 31.818-76.909t76.909-31.818h527.273zM372.364 279.273q-57.818 0-98.727 40.909t-40.909 98.727 40.909 98.727 98.727 40.909 98.727-40.909 40.909-98.727-40.909-98.727-98.727-40.909zM667.273 698.182v-325.818h-82.545q4.727 21.455 4.727 46.545 0 58.909-29.091 108.909t-79.091 79.091-108.909 29.091-108.909-29.091-79.091-79.091-29.091-108.909q0-25.091 4.727-46.545h-82.545v325.818q0 6.545 4.545 11.091t11.091 4.545h558.545q6.545 0 11.091-4.545t4.545-11.091zM667.273 232.727v-93.091q0-6.545-4.545-11.091t-11.091-4.545h-93.091q-6.545 0-11.091 4.545t-4.545 11.091v93.091q0 6.545 4.545 11.091t11.091 4.545h93.091q6.545 0 11.091-4.545t4.545-11.091z')
        a(href='/photos/new') submit a photo
          
      block content
